In [3]:
import snowpark_extensions
from snowflake.snowpark import Session

In [4]:
%load_ext snowpark_extensions

In [5]:
session = Session.builder.from_snowsql().getOrCreate()

In [11]:
df = session.sql("""
select current_warehouse()
""")
df.to_pandas()

  CURRENT_WAREHOUSE()
0             TEMP_WH

In [12]:

df = session.sql("""
select * from information_schema.tables limit 10
""")
df.to_pandas()

  TABLE_CATALOG  ...                                            COMMENT
0        DEMODB  ...                                               None
1        DEMODB  ...                                               None
2        DEMODB  ...                                               None
3        DEMODB  ...                                               None
4        DEMODB  ...                                               None
5        DEMODB  ...                        Source server type str data
6        DEMODB  ...  Signifies the urgency associated with the bloo...
7        DEMODB  ...  Dimension table for holding reference informat...
8        DEMODB  ...  Reason for returning a previously issued blood...
9        DEMODB  ...  Any actions detailed based on the test results...

[10 rows x 22 columns]